<div class = "d-flex flex-column gap-3">
    <div class = "d-flex flex-row justify-content-between gap-3">
        <div class = "card shadow rounded p-3 flex-fill">
            <div class="card-body">
                <h2 class="card-title"> Gastos por categoria (Mês Atual)</h2>
            </div>
            <%= pie_chart @category_data, donut: true %>
        </div>

        <div class = "card shadow rounded p-3 flex-fill">
            <div class="card-body">
                <h2 class="card-title"> Gastos por subcategoria (Mês Atual)</h2>
            </div>
            <%= bar_chart @subcategory_data, stacked: true %>
        </div>
    </div>
    <div class = "card shadow rounded p-3 flex-fill">
        <div class="card-body">
            <h2 class="card-title">Histórico de Entradas vs. Saídas</h2>
        </div>
        <%= line_chart @line_chart.map { |transaction|
            { name: transaction[:name], data: transaction[:data] }
        } %>
    </div>

    <div class = "card shadow rounded p-3 flex-fill">
        <div class="card-body">
            <h2 class="card-title"> Gastos por categoria</h2>
        </div>
        <%= column_chart @category_data_chart, stacked: true %>
    </div>

    <div class = "card shadow rounded p-3 flex-fill">
        <div class="card-body">
            <h2 class="card-title"> Gastos por subcategoria</h2>
        </div>
        <%= column_chart @subcategory_data, stacked: true %>
    </div>
</div>
