<%= form_with(model: transaction) do |form| %>
  <div class="row">
    <div class="col-6 card p-3 class">
      <div>
        <%= form.label :input_type, style: "display: block" %>
        <%= form.text_field :input_type, class: "form-control" %>
        <%= errors_for(form, :input_type) %>
      </div>

      <div>
        <%= form.label :date, style: "display: block" %>
        <%= form.date_field :date, class: "form-control" %>
        <%= errors_for(form, :date) %>
      </div>

      <div>
        <%= form.label :value, style: "display: block" %>
        <%= form.text_field :value, class: "form-control" %>
        <%= errors_for(form, :value) %>
      </div>

      <div>
        <%= form.label :installments, style: "display: block" %>
        <%= form.number_field :installments, class: "form-control" %>
        <%= errors_for(form, :installments) %>
      </div>

      <div>
        <%= form.label :category, style: "display: block" %>
        <%= form.text_field :category, class: "form-control", id: "toggleSubcategory", onchange: "toggleSubcategory()" %>
        <%= errors_for(form, :category) %>
      </div>

      <div id="div_subcategory" style="display: none;">
        <%= form.label :subcategory, style: "display: block" %>
        <%= form.text_field :subcategory, class: "form-control" %>
        <%= errors_for(form, :subcategory) %>
      </div>

      <div class="mt-2">
        <%= form.submit 'Salvar', class: "btn btn-primary text-white" %>
      </div>
    </div>
  </div>
<% end %>
