<%= form_with(model: transaction) do |form| %>
  <div class="row">
    <div class="col-6 card p-3 class">
      <div>
        <%= form.label :input_type, style: "display: block" %>
        <%= form.radio_button :input_type, "Entrada"%>
        <%= form.label :input_type, 'Entrada', :value => 'entrada' %>
        <%= form.radio_button :input_type, "Saída" %>
        <%= form.label :input_type, 'Saída', :value => 'saida' %>
        <%= errors_for(form, :input_type) %>
      </div>

      <div>
        <%= form.label :date, style: "display: block" %>
        <%= form.date_field :date, class: "form-control" %>
        <%= errors_for(form, :date) %>
      </div>

      <div>
        <%= form.label :value, style: "display: block" %>
        <%= form.text_field :value, class: "form-control" %>
        <%= errors_for(form, :value) %>
      </div>

      <div>
        <%= form.label :installments, style: "display: block" %>
        <%= form.number_field :installments, class: "form-control" %>
        <%= errors_for(form, :installments) %>
      </div>

      <div>
        <%= form.label :tag_id, style: "display: block" %>
        <%= form.collection_select(:tag_id, Tag.order('subcategory'), :id, :subcategory, {include_blank: true}, {class: 'form-control'}) %>
        <%= errors_for(form, :tag_id) %>
      </div>

      <div class="mt-2">
        <%= form.submit 'Salvar', class: "btn btn-primary text-white" %>
      </div>
    </div>
  </div>
<% end %>
