<div id="<%= dom_id transaction %>">
  <p>
    <strong>Input type:</strong>
    <%= transaction.input_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Installments:</strong>
    <%= transaction.installments %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= transaction.tag_id %>
  </p>
</div>
