<div id="<%= dom_id transaction %>">
  <p>
    <strong>Input type:</strong>
    <%= transaction.input_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Installments:</strong>
    <%= transaction.installments %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= transaction.subcategory %>
  </p>

</div>
